/****RESET STYLE******/
*,
*:before,
*:after {
	box-sizing: border-box;
}

.clearfix:after {
	content: '';
	display: table;
	clear: both;
}

/****COLORS******/
:root {
	--white: whitesmoke;
	--whiter: #d9d9d9;
	--gray: #312f2f;
	--black: #22181c;
	--red: #ef626c;
}

/****MODIFIER STYLES******/
.is--hidden {
	display: none;
}

/****LAYOUT******/
body {
	font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, “Roboto”, “Oxygen”,
		“Ubuntu”, “Cantarell”, “Fira Sans”, “Droid Sans”, “Helvetica Neue”,
		sans-serif;
	background-color: var(--white);
	color: var(--gray);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
}

a {
	text-decoration: none;
	font-size: 1.3rem;
	font-weight: bold;
	color: #000;
}

p {
	display: flex;
	justify-content: space-between;
}

time {
	font-size: 0.8rem;
}
/* tablet-portrait-up */
@media (min-width: 900px) {
	body {
		max-width: 768px;
		align-items: center;
		margin: 1rem auto 1rem auto;
	}
	/* fixes shrinking box width for Asian languages */
	.news {
		min-width: 768px;
	}
}

/****HEADER******/

.header {
	/* border: solid 3px tomato; */
	background-color: var(--white);
	text-align: center;
	font-family: 'Rozha One', serif;
	padding: 1rem 0.5rem 1rem 0.5rem;
	border-radius: 2px;
}

.header__title {
	color: var(--black);
	font-size: 2rem;
	margin: 0 auto;
}

.header__subtitle {
	color: var(--gray);
	font-size: 1.2rem;
	color: var(--gray);
	line-height: 1rem;
}

/* tablet-portrait-down  */
@media (max-width: 600px) and (min-width: 350px) {
	.header__subtitle {
		padding: 0 40px 0 40px;
	}
}

.countries__container {
	display: flex;
	flex-flow: row wrap;
	padding: 0.5rem;
}

.country__button {
	flex: 0 0 3rem;
	margin: 0.1rem;
	font-size: 2rem;
	text-decoration: none;
	border: none;
	border-radius: 2px;
	background-color: var(--white);
	height:30px;
	width: auto;
}

button:hover,
button:active,
button:focus {
	outline: none;
	border: none;
	/* styling for any way a link is about to be used */
}
.country__button:hover {
	cursor: pointer;
	background-color: var(--whiter);
}

.country__button:active {
	transform: scale(1.1, 1.1);
}

/****NEWS******/

.news {
}

.news__title {
}

.news__list {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding-top: 0.5rem;
}

.news__article {
	background-color: var(--white);
	color: var(--text-color);
	margin: 0.5rem 0;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-radius: 2px;
	border-top: solid 1px var(--gray);
}
.news__article:hover {
	background-color: var(--whiter);
}

.article__headline {
	font-size: 1.2rem;
}

.article__headline {
	font-size: 1.2rem;
}

.article__meta {
	font-size: 1rem;
	margin-top: 0.5rem;
}

.article__source {
	color: var(--grey);
	text-transform: uppercase;
}

.article__datetime {
}
